# [Baseball Databank](http://www.seanlahman.com/baseball-archive/statistics/)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from pathlib import Path
from typing import Tuple, Callable

In [3]:
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go

In [4]:
# show matplotlib plots in notebook
%matplotlib inline

In [5]:
# set matplotlib style/theme
plt.style.use("fivethirtyeight")

In [6]:
# plotly defaults
pio.renderers.default = "notebook"
pio.templates.default = "seaborn"

In [7]:
from tabulate import tabulate
from IPython.core.display import display, Markdown, HTML

def markdown(s: str):
    display(Markdown(s))
    
def html(s: str):
    display(HTML(s))

In [8]:
# path to data files
datapath = Path("../baseballdatabank/core")

___________________
### Batting info

In [9]:
batting_all = pd.read_csv(datapath/"batting.csv")

### People info

In [10]:
people = pd.read_csv(datapath/"people.csv")
for col in "debut", "finalGame":
    people[col] = pd.to_datetime(people[col])

In [11]:
# slimmed people dataframe with player ID, full name, first and final games as datetimes
people_slim = pd.concat([people["playerID"], 
                         people[["nameFirst", "nameLast"]].fillna("").agg(" ".join, axis=1).rename("fullName"), 
                         people["debut"].apply(lambda dt: dt.year).fillna(0).astype(np.int), 
                         people["finalGame"].apply(lambda dt: dt.year).fillna(0).astype(np.int)], 
                        axis=1)

_____________________________________________

# Team stats

In [17]:
teams = pd.read_csv(datapath/"teams.csv")

In [20]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2955 entries, 0 to 2954
Data columns (total 48 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          2955 non-null   int64
 1   lgID            2905 non-null   object
 2   teamID          2955 non-null   object
 3   franchID        2955 non-null   object
 4   divID           1438 non-null   object
 5   Rank            2955 non-null   int64
 6   G               2955 non-null   int64
 7   Ghome           2556 non-null   float64
 8   W               2955 non-null   int64
 9   L               2955 non-null   int64
 10  DivWin          1410 non-null   object
 11  WCWin           774 non-null    object
 12  LgWin           2927 non-null   object
 13  WSWin           2598 non-null   object
 14  R               2955 non-null   int64
 15  AB              2955 non-null   int64
 16  H               2955 non-null   int64
 17  2B              2955 non-null   int64
 18  3B              2955 non-null   int64
 19  HR              2955 non-null   int64
 20  BB              2954 non-null   float64
 21  SO              2939 non-null   float64
 22  SB              2829 non-null   float64
 23  CS              2123 non-null   float64
 24  HBP             1797 non-null   float64
 25  SF              1414 non-null   float64
 26  RA              2955 non-null   int64
 27  ER              2955 non-null   int64
 28  ERA             2955 non-null   float64
 29  CG              2955 non-null   int64
 30  SHO             2955 non-null   int64
 31  SV              2955 non-null   int64
 32  IPouts          2955 non-null   int64
 33  HA              2955 non-null   int64
 34  HRA             2955 non-null   int64
 35  BBA             2955 non-null   int64
 36  SOA             2955 non-null   int64
 37  E               2955 non-null   int64
 38  DP              2955 non-null   int64
 39  FP              2955 non-null   float64
 40  name            2955 non-null   object
 41  park            2921 non-null   object
 42  attendance      2676 non-null   float64
 43  BPF             2955 non-null   int64
 44  PPF             2955 non-null   int64
 45  teamIDBR        2955 non-null   object
 46  teamIDlahman45  2955 non-null   object
 47  teamIDretro     2955 non-null   object
dtypes: float64(10), int64(25), object(13)
memory usage: 1.1+ MB

# Franchise success
___________________
### W/L records

In [13]:
# translate franchID to team name(s)
def franch_to_name(franchID: str):
    return "/".join(teams[teams["franchID"] == franchID]["name"].unique())

In [987]:
teams["Win %"] = teams["W"] / teams["G"]

In [996]:
# best record in any season
best = teams.loc[teams["Win %"].idxmax()][["franchID", "yearID", "G", "W", "Win %"]]

In [997]:
# best record in a 160+ game season
df = teams[teams["G"] >= 160]
best_160 = df.loc[df["Win %"].idxmax()][["franchID", "yearID", "G", "W", "Win %"]]

In [998]:
# worst record in any season
worst = teams.loc[teams["Win %"].idxmin()][["franchID", "yearID", "G", "W", "Win %"]]

In [999]:
# worst record in a 160+ game season
df = teams[teams["G"] >= 160]
worst_160 = df.loc[df["Win %"].idxmin()][["franchID", "yearID", "G", "W", "Win %"]]

In [1000]:
# most wins in any season
most_wins = df.loc[df["W"].idxmax()][["franchID", "yearID","G", "W", "Win %"]]

In [1015]:
# stitch together the various records, rename for readable columns, translate franchise ID to team name(s)
franchise_records = pd.DataFrame([most_wins, best, best_160, worst, worst_160], 
                                 index=["Most wins",
                                        "Best record", 
                                        "Best record (160+ games)",
                                        "Worst Record",
                                        "Worst Record (160+ games)"]
                                ).rename({"franchID": "team",
                                          "yearID": "year",
                                          "W": "wins",
                                          "G": "games"}, axis=1)
                                        
franchise_records["team"] = franchise_records["team"].apply(franch_to_name)
franchise_records

                                           team  year  games  wins     Win %
Most wins                      Seattle Mariners  2001    162   116  0.716049
Best record                Boston Red Stockings  1875     82    71  0.865854
Best record (160+ games)       Seattle Mariners  2001    162   116  0.716049
Worst Record               Washington Nationals  1872     11     0  0.000000
Worst Record (160+ games)         New York Mets  1962    161    40  0.248447

--------------------------

### Most winning seasons
In their current state, these are probably more indicative of franchise longevity than overall success.
Percentage of seasons  with a winning record might be useful, though it likely overlaps somewhat with 
the average winning percentage calculated below

In [1038]:
# W/L per team per year
win_pct = teams.pivot_table(index="franchID", columns="yearID", values="Win %")
win_pct_20s = win_pct.dropna(thresh=20)

In [1097]:
def most_wins(df: pd.DataFrame) -> Tuple[str, int]:
    seasons = (df > 0.500).sum(axis=1)
    team = seasons.idxmax()
    return(team, seasons[team])

def fewest_wins(df: pd.DataFrame) -> Tuple[str, int]:
    seasons = (df > 0.500).sum(axis=1)
    team = seasons.idxmin()
    return(team, seasons[team])

In [1099]:
team_h_any, high_any = most_wins(win_pct)
team_h_20, high_20 = most_wins(win_pct_20s)
team_l_any, low_any = fewest_wins(win_pct)
team_l_20, low_20 = fewest_wins(win_pct_20s)

In [1100]:
html(tabulate([["max (overall)", high_any, franch_to_name(team_h_any)],
               ["max (20+ seasons)", high_20, franch_to_name(team_h_20)],
               ["min (overall)", low_any, franch_to_name(team_l_any)],
               ["min (20+ seasons)", low_20, franch_to_name(team_l_20)],

              ], 
              tablefmt="html", 
              headers=["Category", "Winning Seasons", "Franchise"],
              stralign="center", numalign="center"))

#### Highest average winning percentage

In [1123]:
df = (win_pct > 0.500).mean(axis=1)
team = df.idxmax()
num_seasons = teams.loc[teams["franchID"] == team].shape[0]
markdown(f"The **{franch_to_name(team)}** franchise has the highest average winning percentage"
         f" of **{df[team]:.3f}** over {num_seasons} season(s)")

The **Baltimore Orioles/New York Highlanders/New York Yankees** franchise has the highest average winning percentage of **0.647** over 120 season(s)

#### Lowest average winning percentage

In [1124]:
df = (win_pct > 0.500).mean(axis=1)
team = df.idxmin()
num_seasons = teams.loc[teams["franchID"] == team].shape[0]
markdown(f"The **{franch_to_name(team)}** franchise has the lowest average winning percentage"
         f" of **{df[team]:.3f}** over {num_seasons} season(s)")

The **Altoona Mountain City** franchise has the lowest average winning percentage of **0.000** over 1 season(s)

#### Current teams (1998+) win percentages

In [1126]:
teams_1998_wpct = teams.loc[teams["yearID"] >= 1998].pivot_table(index="franchID", columns="yearID", values="Win %")
teams_1998_wpct

yearID,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
franchID,,,,,,,,,,,,,,,,,,,,,
ANA,0.524691,0.432099,0.506173,0.462963,0.611111,0.475309,0.567901,0.586420,0.549383,0.580247,...,0.530864,0.549383,0.481481,0.604938,0.524691,0.456790,0.493827,0.493827,0.444444,0.433333
ARI,0.401235,0.617284,0.524691,0.567901,0.604938,0.518519,0.314815,0.475309,0.469136,0.555556,...,0.580247,0.500000,0.500000,0.395062,0.487654,0.425926,0.574074,0.506173,0.524691,0.416667
ATL,0.654321,0.635802,0.586420,0.543210,0.627329,0.623457,0.592593,0.555556,0.487654,0.518519,...,0.549383,0.580247,0.592593,0.487654,0.413580,0.422360,0.444444,0.555556,0.598765,0.583333
BAL,0.487654,0.481481,0.456790,0.388889,0.413580,0.435583,0.481481,0.456790,0.432099,0.425926,...,0.425926,0.574074,0.524691,0.592593,0.500000,0.549383,0.462963,0.290123,0.333333,0.416667
BOS,0.567901,0.580247,0.524691,0.509317,0.574074,0.586420,0.604938,0.586420,0.530864,0.592593,...,0.555556,0.425926,0.598765,0.438272,0.481481,0.574074,0.574074,0.666667,0.518519,0.400000
CHC,0.552147,0.413580,0.401235,0.543210,0.413580,0.543210,0.549383,0.487654,0.407407,0.524691,...,0.438272,0.376543,0.407407,0.450617,0.598765,0.635802,0.567901,0.582822,0.518519,0.566667
CHW,0.490798,0.462963,0.586420,0.512346,0.500000,0.530864,0.512346,0.611111,0.555556,0.444444,...,0.487654,0.524691,0.388889,0.450617,0.469136,0.481481,0.413580,0.382716,0.447205,0.583333
CIN,0.475309,0.588957,0.521472,0.407407,0.481481,0.425926,0.469136,0.447853,0.493827,0.444444,...,0.487654,0.598765,0.555556,0.469136,0.395062,0.419753,0.419753,0.413580,0.462963,0.516667
CLE,0.549383,0.598765,0.555556,0.561728,0.456790,0.419753,0.493827,0.574074,0.481481,0.592593,...,0.493827,0.419753,0.567901,0.524691,0.503106,0.583851,0.629630,0.561728,0.574074,0.583333
COL,0.475309,0.444444,0.506173,0.450617,0.450617,0.456790,0.419753,0.413580,0.469136,0.552147,...,0.450617,0.395062,0.456790,0.407407,0.419753,0.462963,0.537037,0.558282,0.438272,0.433333
DET,0.401235,0.428571,0.487654,0.407407,0.341615,0.265432,0.444444,0.438272,0.586420,0.543210,...,0.586420,0.543210,0.574074,0.555556,0.459627,0.534161,0.395062,0.395062,0.291925,0.396552
FLA,0.333333,0.395062,0.490683,0.469136,0.487654,0.561728,0.512346,0.512346,0.481481,0.438272,...,0.444444,0.425926,0.382716,0.475309,0.438272,0.490683,0.475309,0.391304,0.351852,0.516667
HOU,0.629630,0.598765,0.444444,0.574074,0.518519,0.537037,0.567901,0.546012,0.506173,0.450617,...,0.345679,0.339506,0.314815,0.432099,0.530864,0.518519,0.623457,0.635802,0.660494,0.483333
KCR,0.447205,0.397516,0.475309,0.401235,0.382716,0.512346,0.358025,0.345679,0.382716,0.425926,...,0.438272,0.444444,0.530864,0.549383,0.586420,0.500000,0.493827,0.358025,0.364198,0.433333
LAD,0.512346,0.475309,0.530864,0.530864,0.567901,0.524691,0.574074,0.438272,0.543210,0.506173,...,0.509317,0.530864,0.567901,0.580247,0.567901,0.561728,0.641975,0.564417,0.654321,0.716667
MIL,0.456790,0.459627,0.447853,0.419753,0.345679,0.419753,0.416149,0.500000,0.462963,0.512346,...,0.592593,0.512346,0.456790,0.506173,0.419753,0.450617,0.530864,0.588957,0.549383,0.483333
MIN,0.432099,0.391304,0.425926,0.524691,0.583851,0.555556,0.567901,0.512346,0.592593,0.487654,...,0.388889,0.407407,0.407407,0.432099,0.512346,0.364198,0.524691,0.481481,0.623457,0.600000
NYM,0.543210,0.595092,0.580247,0.506173,0.465839,0.409938,0.438272,0.512346,0.598765,0.543210,...,0.475309,0.456790,0.456790,0.487654,0.555556,0.537037,0.432099,0.475309,0.530864,0.433333
NYY,0.703704,0.604938,0.540373,0.590062,0.639752,0.619632,0.623457,0.586420,0.598765,0.580247,...,0.598765,0.586420,0.524691,0.518519,0.537037,0.518519,0.561728,0.617284,0.635802,0.550000
OAK,0.456790,0.537037,0.565217,0.629630,0.635802,0.592593,0.561728,0.543210,0.574074,0.469136,...,0.456790,0.580247,0.592593,0.543210,0.419753,0.425926,0.462963,0.598765,0.598765,0.600000
PHI,0.462963,0.475309,0.401235,0.530864,0.496894,0.530864,0.530864,0.543210,0.524691,0.549383,...,0.629630,0.500000,0.450617,0.450617,0.388889,0.438272,0.407407,0.493827,0.500000,0.466667
PIT,0.423313,0.484472,0.425926,0.382716,0.447205,0.462963,0.447205,0.413580,0.413580,0.419753,...,0.444444,0.487654,0.580247,0.543210,0.604938,0.481481,0.462963,0.509317,0.425926,0.316667
SDP,0.604938,0.456790,0.469136,0.487654,0.407407,0.395062,0.537037,0.506173,0.543210,0.546012,...,0.438272,0.469136,0.469136,0.475309,0.456790,0.419753,0.438272,0.407407,0.432099,0.616667
SEA,0.472050,0.487654,0.561728,0.716049,0.574074,0.574074,0.388889,0.425926,0.481481,0.543210,...,0.413580,0.462963,0.438272,0.537037,0.469136,0.530864,0.481481,0.549383,0.419753,0.450000
SFG,0.546012,0.530864,0.598765,0.555556,0.586420,0.621118,0.561728,0.462963,0.472050,0.438272,...,0.530864,0.580247,0.469136,0.543210,0.518519,0.537037,0.395062,0.450617,0.475309,0.483333
STL,0.509202,0.465839,0.586420,0.574074,0.598765,0.524691,0.648148,0.617284,0.515528,0.481481,...,0.555556,0.543210,0.598765,0.555556,0.617284,0.530864,0.512346,0.543210,0.561728,0.517241
TBD,0.388889,0.425926,0.428571,0.382716,0.341615,0.388889,0.434783,0.413580,0.376543,0.407407,...,0.561728,0.555556,0.564417,0.475309,0.493827,0.419753,0.493827,0.555556,0.592593,0.666667
TEX,0.543210,0.586420,0.438272,0.450617,0.444444,0.438272,0.549383,0.487654,0.493827,0.462963,...,0.592593,0.574074,0.558282,0.413580,0.543210,0.586420,0.481481,0.413580,0.481481,0.366667
TOR,0.539877,0.518519,0.512346,0.493827,0.481481,0.530864,0.416149,0.493827,0.537037,0.512346,...,0.500000,0.450617,0.456790,0.512346,0.574074,0.549383,0.469136,0.450617,0.413580,0.533333
WSN,0.401235,0.419753,0.413580,0.419753,0.512346,0.512346,0.413580,0.500000,0.438272,0.450617,...,0.496894,0.604938,0.530864,0.592593,0.512346,0.586420,0.598765,0.506173,0.574074,0.433333

______________________________________________